openapi: "3.1.0"
info:
  title: Auth Service — Public API
  version: 0.1.0
  description: >
    Authentication and authorization endpoints for the QuantFlow Studio ecosystem.
    Serves Users (humans) and Systems (services + AI agents).
  contact:
    name: QuantFlow Studio
    url: https://quantflow.studio
  license:
    name: Proprietary
servers:
  - url: https://auth.quantflow.studio
    description: Production
  - url: http://localhost:4000
    description: Local development

paths:
  /health:
    get:
      operationId: getHealth
      summary: Health check
      tags: [Health]
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /auth/register:
    post:
      operationId: register
      summary: Register a new user
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: User created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInfo"
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          description: Email already registered

  /auth/login:
    post:
      operationId: login
      summary: Authenticate with email and password
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResult"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/token:
    post:
      operationId: token
      summary: Exchange refresh token or client credentials for a new access token
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenRequest"
      responses:
        "200":
          description: Token issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResult"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/revoke:
    post:
      operationId: revokeToken
      summary: Revoke a refresh token
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RevokeRequest"
      responses:
        "204":
          description: Token revoked
        "400":
          $ref: "#/components/responses/ValidationError"

  /auth/password/reset:
    post:
      operationId: resetPassword
      summary: Request a password reset
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordResetRequest"
      responses:
        "202":
          description: Reset email sent (if account exists)

  /auth/password/reset/confirm:
    post:
      operationId: confirmPasswordReset
      summary: Confirm password reset with token
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordResetConfirmRequest"
      responses:
        "204":
          description: Password updated
        "400":
          $ref: "#/components/responses/ValidationError"

  /auth/me:
    get:
      operationId: getMe
      summary: Get current user info
      tags: [Auth]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current user info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInfo"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/me/password:
    put:
      operationId: changePassword
      summary: Change current user password
      tags: [Auth]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordChangeRequest"
      responses:
        "204":
          description: Password changed
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/logout:
    post:
      operationId: logout
      summary: Logout current session
      tags: [Auth]
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Logged out
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/logout/all:
    post:
      operationId: logoutAll
      summary: Logout all sessions
      tags: [Auth]
      security:
        - bearerAuth: []
      responses:
        "204":
          description: All sessions terminated
        "401":
          $ref: "#/components/responses/Unauthorized"

  /.well-known/jwks.json:
    get:
      operationId: getJWKS
      summary: JSON Web Key Set
      tags: [Discovery]
      responses:
        "200":
          description: Public keys for token verification
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JWKSResponse"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Authentication required or invalid
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
      required: [status]

    RegisterRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 15
        name:
          type: string
          minLength: 1
          maxLength: 255
      required: [email, password, name]

    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
      required: [email, password]

    TokenRequest:
      type: object
      properties:
        grant_type:
          type: string
          enum: [refresh_token, client_credentials]
        refresh_token:
          type: string
        client_id:
          type: string
        client_secret:
          type: string
      required: [grant_type]

    RevokeRequest:
      type: object
      properties:
        token:
          type: string
      required: [token]

    PasswordResetRequest:
      type: object
      properties:
        email:
          type: string
          format: email
      required: [email]

    PasswordResetConfirmRequest:
      type: object
      properties:
        token:
          type: string
        new_password:
          type: string
          minLength: 15
      required: [token, new_password]

    PasswordChangeRequest:
      type: object
      properties:
        old_password:
          type: string
        new_password:
          type: string
          minLength: 15
      required: [old_password, new_password]

    UserInfo:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
      required: [id, email, name]

    AuthResult:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
      required: [access_token, token_type, expires_in]

    JWKSResponse:
      type: object
      properties:
        keys:
          type: array
          items:
            type: object

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        code:
          type: string
        details:
          type: object
      required: [error, code]
